// My Bootstrap configuration
@import 'custom_bootstrap';
@import 'bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  font-family: 'EB Garamond', serif;
  // font-family: 'Nanum Gothic', sans-serif;
}
a {
  color: black;
}

.fa-link{
  font-size: 10px;
}
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 35px;
  margin: 8px 0px;
  padding-top: 50px;
}
// .hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.note {
  color: gray;
  font-size: 15px;
}